{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <style>
      @font-face 
    { 
      font-family: 'yg-jalnan'; 
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); 
      font-weight: normal; font-style: normal; 
    } 
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Yang Chi</title>

    <link rel="stylesheet" href='{% static "patient/sass/tooplate-style.scss" %}'>
  
    <link rel="stylesheet" href='{% static "patient/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "patient/css/unicons.css" %}'>
    <link rel="stylesheet" href='{% static "patient/css/owl.carousel.min.css" %}'>
    <link rel="stylesheet" href='{% static "patient/css/owl.theme.default.min.css" %}'>
    <link rel="stylesheet" href='{% static "patient/css/main-additional.css" %}'>

    <!-- MAIN STYLE -->
    <link rel="stylesheet" href='{% static "patient/css/tooplate-style.css" %}'>
    
  </head>
  <body>

    <!-- MENU -->
    <!-- <nav class="navbar navbar-expand-sm navbar-light"> -->
        <div class="container">
            <nav class="navbar navbar-expand-sm navbar-light">
                <a class="navbar-brand" href="{% url 'main' %}">
                  <img src='{% static "patient/images/nav-logo.png" %}' alt="mainpage image" class="d-inline-block align-top" width="30" height="30"> 양치
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                      <a href="#" class="nav-link"><span data-hover="환영합니다. {{user.username}} 님!"> 환영합니다. {{user.username}} 님!</span></a> 
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link"><span data-hover="주변 치과 찾기">주변 치과 찾기</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#resume" class="nav-link"><span data-hover="마이페이지">마이페이지</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}"><span data-hover="로그아웃">로그아웃</span> </a>
                      <form id="logout" method="POST" action="{% url 'logout' %}">
                          {% csrf_token %} <input type="hidden" />
                      </form>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">환영합니다. {{ user.username }} 님!</a>
                        
                            
                    </li> -->
                    {% else %}
                    <!-- <li class="nav-item">
                        <a class="nav-item nav-link" href="{% url 'signup' %}">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    </li> -->
                    <li class="nav-item" id="login">
                        <a href="{% url 'login' %}" class="nav-link"><span data-hover="로그인">로그인</span></a>
                    </li>
                    <li class="nav-item" id="join">
                      <a href="{% url 'signup' %}" class="nav-link"><span data-hover="회원가입">회원가입</span></a>
                    </li>
                    {% endif %}
                    <!-- <li class="nav-item">
                        <a href="#about" class="nav-link"><span data-hover="주변 치과 찾기">주변 치과 찾기</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#resume" class="nav-link"><span data-hover="마이페이지">마이페이지</span></a>
                    </li> -->
                    <!-- <li class="nav-item" id="login">
                        <a href="{% url 'login' %}" class="nav-link"><span data-hover="로그인">로그인</span></a>
                    </li>
                    <li class="nav-item" id="join">
                      <a href="{% url 'signup' %}" class="nav-link"><span data-hover="회원가입">회원가입</span></a>
                    </li> -->
                </ul>

                <ul class="navbar-nav ml-lg-auto">
                    <div class="ml-lg-4">
                      <div class="color-mode d-lg-flex justify-content-center align-items-center">
                        <i class="color-mode-icon"></i>
                        의사 사이트로 이동
                      </div>
                    </div>
                </ul>
            </div>
          </nav>
        </div>
    <!-- </nav> -->
<br>
<br>
<br>
<br>
    <!-- main image -->
    <section id="about">
        <div class="container, d-flex justify-content-around row">
          
          <img src='{% static "patient/images/main_image.png" %}' alt="mainpage image" width="30%" height="10%" id="main_image.">
        </div>
    </section>

    <!-- service introduce -->
    <section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
      <div class="container">
          <div class="row">
              
              <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
                  <div class="about-text">
                      <small class="small-text" style="font-family: yg-jalnan">치과진료 가격비교 <span class="mobile-block" style="font-family: yg-jalnan">사이트 양치에 오신걸 환영합니다!</span></small>
                      <h1 class="animated animated-text">
                          <span class="mr-2">양치</span>
                              <div class="animated-info">
                                  <span class="animated-item">Of the people</span>
                                  <span class="animated-item">For the people</span>
                                  <span class="animated-item">By the people</span>
                              </div>
                      </h1>

                      <p style="font-family: yg-jalnan">비급여 항목이 많은 치과진료, 급여항목과 달리 병원에서 고지한 금액 전부를 부담해야 하느라 힘드셨죠? 이제, 치과진료 가격비교 서비스 양치가 당신의 고민을 해결해드립니다.</p>
                  </div>
              </div>

              <div class="col-lg-5 col-md-12 col-12">
                  <div class="about-image svg">
                      <img src='{% static "patient/images/service-intro.png" %}' class="img-fluid" alt="svg image">
                  </div>
              </div>

          </div>
      </div>
  </section>

    <!-- promotion -->
    <section class="project py-5 mr-5 ml-5" id="project">
        <div class="mr-5 ml-5">
             
                <div class="row justify-content-center ">
                  <div class="col-lg-12 text-center mx-auto col-12 ">

                      <div class="col-lg-8 mx-auto">
                        <h2>진행중인 프로모션</h2>
                      </div>

                      <div class="owl-carousel owl-theme ">
                        
                        <div class="project-info, d-flex justify-content-around row">
                          <div class="col-lg-4">
                            <div class="card">
                              <img src='{% static "patient/images/project/promotion1.jpg" %}' class="card-img-top" alt="project image">
                              <div class="card-body"></div>
                                <h5 class="card-title">프로모션 이름</h5>
                                <p class="card-text">프로모션 내용</p>
                                <a href="#" class="btn btn-primary">사이트로 이동</a>
                            </div>
                          </div>

                          <div class="col-lg-4">
                            <div class="card" >
                            <img src='{% static "patient/images/project/promotion2.jpg" %}' class="card-img-top" alt="project image">
                            <div class="card-body"></div>
                              <h5 class="card-title">프로모션 이름</h5>
                              <p class="card-text">프로모션 내용</p>
                              <a href="#" class="btn btn-primary">사이트로 이동</a>
                            </div>
                          </div>

                          <div class="col-lg-4">
                            <div class="card" >
                            <img src='{% static "patient/images/project/promotion3.jpg" %}' class="card-img-top" alt="project image">
                            <div class="card-body"></div>
                              <h5 class="card-title">프로모션 이름</h5>
                              <p class="card-text">프로모션 내용</p>
                              <a href="#" class="btn btn-primary">사이트로 이동</a>
                            </div>
                          </div>
                        </div>


                        <div class="project-info, d-flex justify-content-around row ">
                          <div class="col-lg-4">
                            <div class="card">
                              <img src='{% static "patient/images/project/promotion4.jpg" %}' class="card-img-top" alt="project image">
                              <div class="card-body"></div>
                                <h5 class="card-title">프로모션 이름</h5>
                                <p class="card-text">프로모션 내용</p>
                                <a href="#" class="btn btn-primary">사이트로 이동</a>
                            </div>
                          </div>

                          <div class="col-lg-4">
                            <div class="card" >
                            <img src='{% static "patient/images/project/promotion5.jpg" %}' class="card-img-top" alt="project image">
                            <div class="card-body"></div>
                              <h5 class="card-title">프로모션 이름</h5>
                              <p class="card-text">프로모션 내용</p>
                              <a href="#" class="btn btn-primary">사이트로 이동</a>
                            </div>
                          </div>

                          <div class="col-lg-4">
                            <div class="card" >
                            <img src='{% static "patient/images/project/promotion3.jpg" %}' class="card-img-top" alt="project image">
                            <div class="card-body"></div>
                              <h5 class="card-title">프로모션 이름</h5>
                              <p class="card-text">프로모션 내용</p>
                              <a href="#" class="btn btn-primary">사이트로 이동</a>
                            </div>
                          </div>
                        </div>

                  </div>
                </div>
        </div>
    </section>

    <!-- FOOTER -->
     <footer class="footer py-5" style="background: #F2F2F2">
          <div class="container" >
               <div class="row">

                    <div class="col-lg-12 col-12">                                
                        <p class="copyright-text text-center">Copyright &copy; 2019 Company Name . All rights reserved</p>
                        <p class="copyright-text text-center">Designed by <a rel="nofollow" href="https://www.facebook.com/tooplate">Tooplate</a></p>
                    </div>
                    
               </div>
          </div>
     </footer>

    <script src='{% static "patient/js/jquery-3.3.1.min.js" %}'></script>
    <script src='{% static "patient/js/popper.min.js" %}'></script>
    <script src='{% static "patient/js/bootstrap.min.js" %}'></script>
    <script src='{% static "patient/js/Headroom.js" %}'></script>
    <script src='{% static "patient/js/jQuery.headroom.js" %}'></script>
    <script src='{% static "patient/js/owl.carousel.min.js" %}'></script>
    <script src='{% static "patient/js/smoothscroll.js" %}'></script>
    <script src='{% static "patient/js/custom.js" %}'></script>

  </body>
</html>